<div class="navbar">
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/logoutall">Logout All</a>
</div>