@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.navbar {
    overflow: hidden;
    display: flex;
    flex-basis: 6vh;
    align-items: center;
}

.navbar a {
    color: black;
    font-size: large;
    text-decoration: none;
    padding: 7px 20px;
    display: block;
    float: left;
    /*must add overflow:hidden in parent element*/
    font-family: 'Sono', sans-serif;
    transition-property: color;
    border-radius: 6px;
}

.navbar a:hover {
    color: #178cda;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: white;
}

@media screen and (max-width:500px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
}

/* ********************************************************************************** */
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-basis: 87.9vh;

}

/* ********************************************************************************** */
.title {
    font-size: 2rem;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}


/* ********************************************************************************** */

.footer {
    margin-top: auto;
    color: black;
    font-family: 'Sono', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 14px 20px;
    flex-basis: 5vh;
}